/*
=====================================================================
*   Woo v1.0 Layout Stylesheet
*   url: styleshout.com
*   05-02-2014
=====================================================================


/* ------------------------------------------------------------------ */
/* a. General and Common Styles
/* ------------------------------------------------------------------ */

@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	src: local('Raleway'), url(http://themes.googleusercontent.com/static/fonts/raleway/v7/IczWvq5y_Cwwv_rBjOtT0w.woff) format('woff');
}

body {
	background: #181d21;
	height: 100%;
}

* {
	font-family: 'Raleway', sans-serif;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

iframe {
    border: none;
}

.section-head {
	padding: 0 4%;
	text-align: center;
}

.section-head h1 {
	font: 20px/36px 'Raleway', sans-serif;
	color: #333;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	margin-bottom: 12px;
}

/* for css animations */
.show {
	opacity: 1;
}

h2, h3 {
	margin-top: 0px;
}


h2 {
	font: 28px/36px 'Raleway', sans-serif;
	margin-bottom: 12px;
}

a {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

a:hover, a:focus {
	text-decoration: none;
	color: #fff;
}

.center {
	float: none;
	margin-left: auto;
	margin-right: auto;
}

/* ------------------------------------------------------------------ */
/* b. Header Styles
/* ------------------------------------------------------------------ */

header {
	height: 54px;
	width: 100%;
	background: #13171B;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 990;
}

/* header logo */
header .logo {
	margin-left: 36px;
	margin-right: 20px;
	margin-top: 6px;
	float: left;
	width: auto;
	z-index: 991;

	/* add position relative since z-index only applies to
	   elements that have been given an explicit position */
	position: relative;
}

header .logo a {
	display: block;
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	width: 25px;
}

/* header social */
header .header-social {
	font-size: 20px;
	font-weight: normal;
	line-height: 54px;
	color: #424a56;
	margin: 0 10px 0 0;
	padding: 0;
	float: right;
}

header .header-social li {
	display: inline-block;
	margin-right: 20px;
}

header .header-social li a {
	color: #fff;
}

header .header-social li a:hover {
	color: #11ABB0;
}

.scrolldown a {
	font-size: 42px;
	color: #b4b4b4;
	margin-top: 35px;
}
.scrolldown a:hover { color: #fff; }


.nav > li > a:hover, .nav > li > a:focus {
	background-color: transparent;
}

/* ------------------------------------------------------------------ */
/* c. Hero Section
/* ------------------------------------------------------------------ */

#hero {
	background: #23292f url('../images/intro-bg.jpg') no-repeat top center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	position: relative;
	display: table;
	width: 100%;
	/*padding: 75px 0;*/
	text-align: center;
	height: 900px;
	color: #fff;
	margin-bottom: 0;
	padding-bottom: 0;
}

#hero-body {
	display: table-cell;
	vertical-align: middle;
	padding-bottom: 0;
}

#logo {
	padding-top: 10px;
}

#hero-content {
	margin-top: 100px;
	line-height: 4em;
}


#hero-content .img-responsive {
	width:100%;
	max-width: 598px;
}

.content {
	background: #fff url(img/grey.png);
	padding-top: 96px;
	padding-bottom: 120px;
}

/* ------------------------------------------------------------------ */
/* feature overview
/* ------------------------------------------------------------------ */

.feature-overview {
	background: #23292F;
	padding-top: 72px;
	padding-bottom: 48px;
	position: relative;
}

.feature-overview:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(35, 41, 47, 0);
	border-top-color: #23292F;
	border-width: 50px;
	margin-left: -50px;
}

.feature-overview h2 {
	font: 24px/24px 'Raleway', sans-serif;
	letter-spacing: 3px;
	color: #fff;
}

.big-fa {
	padding-right: 18px;
	padding-top: 10px;
	padding-left: 10px;
	font-size: 72px;
	line-height: 72px;
	text-align: center;
	float: right;
	color: #EBEEEE;
}

.feature-overview p {
	color: #697B8B;
	font-size: 17px;
	padding-right: 5px;
	text-align: justify;
}

.feature-overview a {
	color: #A9B5C0;
}
.feature-overview a:hover {
	color: #fff;
}

.features p {
	font-size: 16px;
}

.item .item-wrap {
	background: #fff;
	overflow: hidden;
	position: relative;
	width: 100%;
	max-height: 300px;

	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.item .item-wrap a {
	display: block;
	cursor: pointer;
}

/* overlay */
.item .item-wrap .overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;

	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);

	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;

	background: url(img/overlay-bg.png) repeat;
}

.item .item-wrap .link-icon {
	display: block;
	color: #fff;
	height: 30px;
	width: 30px;
	font-size: 18px;
	line-height: 30px;
	text-align: center;

	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);

	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;

	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -15px;
	margin-top: -15px;
}

.item .item-wrap img {
	vertical-align: bottom;
	width: 100%;

	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

/* on hover */
.item:hover .overlay {
	opacity: 1;
	-moz-opacity: 1;
	filter: alpha(opacity=100);
}

.item:hover .link-icon {
	opacity: 1;
	-moz-opacity: 1;
	filter: alpha(opacity=100);
}

.item:hover .item-wrap img {
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}


/* ------------------------------------------------------------------ */
/* j. Footer
/* ------------------------------------------------------------------ */

footer {
	padding-top: 84px;
	margin-bottom: 60px;
	color: #3c4753;
	font-size: 13px;
	line-height: 24px;
	position: relative;
	text-align: left;
}

footer a, footer a:visited {
	color: #0A6567;
}

footer a:hover, footer a:focus {
	color: #fff;
}


footer .right-cols .columns p { margin-bottom: 6px; }

footer h3 {
	font: 13px/24px 'Raleway', sans-serif;
	margin-bottom: 0;
	font-weight: normal;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
}

footer .socialize .fa {
	margin: 0 0 6px 3px;
	font-size: 30px;
	line-height: 48px;
	text-align: left;
	color: #738291;
	display: block;;
}

/* Go To Top Button */
#go-top {
	position: absolute;
	top: -24px;
	left: 50%;
	margin-left: -30px;
	text-align: center;
	z-index: 889;
}

#go-top a {
	display: block;
	width: 60px;
	height: 60px;
	background: #525252;

	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;

	color: #fff;
	border-radius: 100%;
}

#go-top a:hover {
	background: #0F9095;
}


/* Featurettes
------------------------- */
.featurette-divider {
	margin: 40px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
	font-weight: 300;
	line-height: 1;
	letter-spacing: -1px;
	margin-top: 40px;
}

/*Team*/
#team {
	background: #23292F;
	padding-top: 96px;
	padding-bottom: 66px;
	overflow: hidden;
	text-align: center;
}

#team h2, h4 {
	color: #EBEEEE;
}

.team-member {
	margin-bottom: 50px;
	text-align: center;
}

.team-member img {
	margin: 0 auto;
	border: 3px solid #fff;
}

.team-member h4 {
	margin-top: 25px;
	margin-bottom: 0;
	text-transform: none;
}

.team-member p {
	margin-top: 0;
}

ul.social-buttons li a {
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	font-size: 20px;
	line-height: 40px;
	outline: 0;
	color: #fff;
	background-color: #222;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}

