.dropdown-menu {
	text-align: center;
	min-width: inherit;
	background-color: #222;
	border-color: #080808;
}
.dropdown-menu > li > a{
	color: #999;
}
.dropdown-menu > li > :hover{
	color: #000;
	background-color: #999;
}

