/*
=====================================================================
*   Woo v1.0 Layout Stylesheet
*   url: styleshout.com
*   05-02-2014
=====================================================================


/* ------------------------------------------------------------------ */
/* a. General and Common Styles
/* ------------------------------------------------------------------ */

@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	src: local('Raleway'), url(http://themes.googleusercontent.com/static/fonts/raleway/v7/IczWvq5y_Cwwv_rBjOtT0w.woff) format('woff');
}

body {
	background: #181d21;
	height: 100%;
}

* {
	font-family: 'Raleway', sans-serif;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.section-head {
	padding: 0 4%;
	text-align: center;
}

.section-head h1 {
	font: 20px/36px 'Raleway', sans-serif;
	color: #333;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	margin-bottom: 12px;
}

/* for css animations */
.show {
	opacity: 1;
}

h2, h3 {
	margin-top: 0px;
}


h2 {
	font: 28px/36px 'Raleway', sans-serif;
	margin-bottom: 12px;
}

.center {
	float: none;
	margin-left: auto;
	margin-right: auto;
}

/* ------------------------------------------------------------------ */
/* b. Header Styles
/* ------------------------------------------------------------------ */

header {
	height: 54px;
	width: 100%;
	background: #13171B;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 990;
}

/* header logo */
header .logo {
	margin-left: 36px;
	margin-right: 20px;
	margin-top: 6px;
	float: left;
	width: auto;
	z-index: 991;

	/* add position relative since z-index only applies to
	   elements that have been given an explicit position */
	position: relative;
}

header .logo a {
	display: block;
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	width: 25px;
}

/* header social */
header .header-social {
	font-size: 20px;
	font-weight: normal;
	line-height: 54px;
	color: #424a56;
	margin: 0 10px 0 0;
	padding: 0;
	float: right;
}

header .header-social li {
	display: inline-block;
	margin-right: 20px;
}

header .header-social li a {
	color: #fff;
}

header .header-social li a:hover {
	color: #11ABB0;
}

.scrolldown a {
	font-size: 42px;
	color: #e0e0e0;
	margin-top: 35px;

	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.scrolldown a:hover { color: #fff; }


.nav > li > a:hover, .nav > li > a:focus {
	background-color: transparent;
}

a:hover, a:focus {
	text-decoration: none;
	color: #fff;
}

/* ------------------------------------------------------------------ */
/* c. Hero Section
/* ------------------------------------------------------------------ */

.jumbotron {
	background: #23292f url('../images/intro-bg.jpg') no-repeat top center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	overflow: hidden;
	padding: 100px 0;
	text-align: center;
	min-height: 900px;
	position: relative;
	color: #fff;
	margin-bottom: 0px;
}

#logo {
	padding-top: 5px;
}

#hero-content {
	margin-top: 150px;
	line-height: 4em;
}

.content {
	background: #fff url(img/grey.png);
	padding-top: 96px;
	padding-bottom: 120px;
}

/* ------------------------------------------------------------------ */
/* feature overview
/* ------------------------------------------------------------------ */

.feature-overview {
	background: #23292F;
	padding-top: 72px;
	padding-bottom: 48px;
	position: relative;
}

.feature-overview:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(35, 41, 47, 0);
	border-top-color: #23292F;
	border-width: 50px;
	margin-left: -50px;
}

.feature-overview h2 {
	font: 24px/24px 'Raleway', sans-serif;
	letter-spacing: 3px;
	color: #fff;
}


.big-fa {
	padding-right: 18px;
	padding-top: 6px;
	font-size: 72px;
	line-height: 72px;
	text-align: center;
	float: right;
	color: #EBEEEE;
}

.feature-overview .action {
	margin-top: 18px;
}

.feature-overview .action .button {
	text-align: center;
}

.feature-overview p {
	color: #697B8B;
	font-size: 17px;
	padding-right: 5px;
}

.feature-overview p span {
	font-family: sans-serif;
	color: #A9B5C0;
}

.more-information {
	margin-top: 20px;
}


.item .item-wrap {
	background: #fff;
	overflow: hidden;
	position: relative;
	width: 100%;
	max-height: 300px;

	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.item .item-wrap a {
	display: block;
	cursor: pointer;
}

/* overlay */
.item .item-wrap .overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;

	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);

	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;

	background: url(img/overlay-bg.png) repeat;
}

.item .item-wrap .link-icon {
	display: block;
	color: #fff;
	height: 30px;
	width: 30px;
	font-size: 18px;
	line-height: 30px;
	text-align: center;

	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);

	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;

	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -15px;
	margin-top: -15px;
}

.item .item-wrap img {
	vertical-align: bottom;
	width: 100%;

	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

/* on hover */
.item:hover .overlay {
	opacity: 1;
	-moz-opacity: 1;
	filter: alpha(opacity=100);
}

.item:hover .link-icon {
	opacity: 1;
	-moz-opacity: 1;
	filter: alpha(opacity=100);
}

.item:hover .item-wrap img {
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}


/* ------------------------------------------------------------------ */
/* j. Footer
/* ------------------------------------------------------------------ */

footer {
	padding-top: 84px;
	margin-bottom: 60px;
	color: #3c4753;
	font-size: 13px;
	line-height: 24px;
	position: relative;
	text-align: left;
}

footer a, footer a:visited {
	color: #0A6567;
}

footer a:hover, footer a:focus {
	color: #fff;
}


footer .right-cols .columns p { margin-bottom: 6px; }

footer h3 {
	font: 13px/24px 'Raleway', sans-serif;
	margin-bottom: 0;
	font-weight: normal;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
}

footer .fa {
	margin: 0 0 6px 3px;
	font-size: 30px;
	line-height: 48px;
	text-align: left;
	color: #738291;
	display: block;;
}

/* Go To Top Button */
#go-top {
	position: absolute;
	top: -24px;
	left: 50%;
	margin-left: -30px;
	text-align: center;
	z-index: 889;
}

#go-top a {
	text-decoration: none;
	border: 0 none;
	display: block;
	width: 60px;
	height: 60px;
	background: #525252;

	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;

	color: #fff;
	font-size: 21px;
	line-height: 60px;
	border-radius: 100%;
}

#go-top a:hover {
	background: #0F9095;
}

/* ------------------------------------------------------------------ */
/* k. lightbox
/* ------------------------------------------------------------------ */

#imagelightbox {
	cursor: pointer;
	position: fixed;
	z-index: 995;
	-ms-touch-action: none;
	touch-action: none;
	-webkit-box-shadow: 0 0 3.125em rgba(0, 0, 0, .3); /* 50 */
	-moz-box-shadow: 0 0 3.125em rgba(0, 0, 0, .3); /* 50 */
	box-shadow: 0 0 3.125em rgba(0, 0, 0, .3); /* 50 */
}

/* activity indication */
#imagelightbox-loading,
#imagelightbox-loading div {
	border-radius: 50%;
}

#imagelightbox-loading {
	width: 2.5em; /* 40 */
	height: 2.5em; /* 40 */
	background-color: #444;
	background-color: rgba(0, 0, 0, .5);
	position: fixed;
	z-index: 999;
	top: 50%;
	left: 50%;
	padding: 0.625em; /* 10 */
	margin: -1.25em 0 0 -1.25em; /* 20 */
	-webkit-box-shadow: 0 0 2.5em rgba(0, 0, 0, .3); /* 40 */
	-moz-box-shadow: 0 0 2.5em rgba(0, 0, 0, .3); /* 40 */
	box-shadow: 0 0 2.5em rgba(0, 0, 0, .3); /* 40 */
}

#imagelightbox-loading div {
	width: 1.25em; /* 20 */
	height: 1.25em; /* 20 */
	background-color: #fff;

	-webkit-animation: imagelightbox-loading .5s ease infinite;
	-moz-animation: imagelightbox-loading .5s ease infinite;
	-o-animation: imagelightbox-loading .5s ease infinite;
	animation: imagelightbox-loading .5s ease infinite;
}

@-webkit-keyframes imagelightbox-loading {
	from {
		opacity: .5;
		-webkit-transform: scale(.75);
	}
	50% {
		opacity: 1;
		-webkit-transform: scale(1);
	}
	to {
		opacity: .5;
		-webkit-transform: scale(.75);
	}
}

@-moz-keyframes imagelightbox-loading {
	from {
		opacity: .5;
		-moz-transform: scale(.75);
	}
	50% {
		opacity: 1;
		-moz-transform: scale(1);
	}
	to {
		opacity: .5;
		-moz-transform: scale(.75);
	}
}

@-o-keyframes imagelightbox-loading {
	from {
		opacity: .5;
		-o-transform: scale(.75);
	}
	50% {
		opacity: 1;
		-o-transform: scale(1);
	}
	to {
		opacity: .5;
		-o-transform: scale(.75);
	}
}

@keyframes imagelightbox-loading {
	from {
		opacity: .5;
		transform: scale(.75);
	}
	50% {
		opacity: 1;
		transform: scale(1);
	}
	to {
		opacity: .5;
		transform: scale(.75);
	}
}

/* lightbox overlay */
#imagelightbox-overlay {
	background-color: #383838;
	background-color: rgba(0, 0, 0, .8);
	position: fixed;
	z-index: 994;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

/* close button */
#imagelightbox-close {
	position: fixed;
	z-index: 999;
	top: 2.5em; /* 40 */
	right: 2.5em; /* 40 */
}

#imagelightbox-close i {
	display: block;
	background: #fff;
	padding: 10px;
	border-radius: 100%;

	-webkit-box-shadow: 0 0 2.5em rgba(0, 0, 0, .5); /* 40 */
	-moz-box-shadow: 0 0 2.5em rgba(0, 0, 0, .5); /* 40 */
	box-shadow: 0 0 2.5em rgba(0, 0, 0, .5); /* 40 */
}

a#imagelightbox-close {
	color: #333;
}

a#imagelightbox-close:hover, a#imagelightbox-close:focus {
	color: #11ABB0;
}

/* lightbox caption */
#imagelightbox-caption {
	text-align: center;
	color: #fff;
	background-color: #000;
	position: fixed;
	z-index: 999;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0.625em; /* 10 */
}

#imagelightbox-loading,
#imagelightbox-overlay,
#imagelightbox-close,
#imagelightbox-caption {
	-webkit-animation: fade-in .25s linear;
	-moz-animation: fade-in .25s linear;
	-o-animation: fade-in .25s linear;
	animation: fade-in .25s linear;
}

@-webkit-keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-moz-keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-o-keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@media only screen and (max-width: 41.250em) {
	/* 660 */

	#container {
		width: 100%;
	}

	#imagelightbox-close {
		top: 1.25em; /* 20 */
		right: 1.25em; /* 20 */
	}

}

/* Featurettes
------------------------- */

.featurette-divider {
	margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
	font-weight: 300;
	line-height: 1;
	letter-spacing: -1px;
}

/*Team*/
#team {
	background: #23292F;
	padding-top: 96px;
	padding-bottom: 66px;
	overflow: hidden;
	text-align: center;
}

#team h2 {
	color: #EBEEEE;
}

.team-member {
	margin-bottom: 50px;
	text-align: center;
}

.team-member img {
	margin: 0 auto;
	border: 3px solid #fff;
}

.team-member h4 {
	margin-top: 25px;
	margin-bottom: 0;
	text-transform: none;
}

.team-member p {
	margin-top: 0;
}

ul.social-buttons li a {
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	font-size: 20px;
	line-height: 40px;
	outline: 0;
	color: #fff;
	background-color: #222;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}

