
#imagelightbox {
	cursor: pointer;
	position: fixed;
	z-index: 995;
	-ms-touch-action: none;
	touch-action: none;
	-webkit-box-shadow: 0 0 3.125em rgba(0, 0, 0, .3); /* 50 */
	-moz-box-shadow: 0 0 3.125em rgba(0, 0, 0, .3); /* 50 */
	box-shadow: 0 0 3.125em rgba(0, 0, 0, .3); /* 50 */
}

/* activity indication */
#imagelightbox-loading,
#imagelightbox-loading div {
	border-radius: 50%;
}

#imagelightbox-loading {
	width: 2.5em; /* 40 */
	height: 2.5em; /* 40 */
	background-color: #444;
	background-color: rgba(0, 0, 0, .5);
	position: fixed;
	z-index: 999;
	top: 50%;
	left: 50%;
	padding: 0.625em; /* 10 */
	margin: -1.25em 0 0 -1.25em; /* 20 */
	-webkit-box-shadow: 0 0 2.5em rgba(0, 0, 0, .3); /* 40 */
	-moz-box-shadow: 0 0 2.5em rgba(0, 0, 0, .3); /* 40 */
	box-shadow: 0 0 2.5em rgba(0, 0, 0, .3); /* 40 */
}

#imagelightbox-loading div {
	width: 1.25em; /* 20 */
	height: 1.25em; /* 20 */
	background-color: #fff;

	-webkit-animation: imagelightbox-loading .5s ease infinite;
	-moz-animation: imagelightbox-loading .5s ease infinite;
	-o-animation: imagelightbox-loading .5s ease infinite;
	animation: imagelightbox-loading .5s ease infinite;
}

@-webkit-keyframes imagelightbox-loading {
	from {
		opacity: .5;
		-webkit-transform: scale(.75);
	}
	50% {
		opacity: 1;
		-webkit-transform: scale(1);
	}
	to {
		opacity: .5;
		-webkit-transform: scale(.75);
	}
}

@-moz-keyframes imagelightbox-loading {
	from {
		opacity: .5;
		-moz-transform: scale(.75);
	}
	50% {
		opacity: 1;
		-moz-transform: scale(1);
	}
	to {
		opacity: .5;
		-moz-transform: scale(.75);
	}
}

@-o-keyframes imagelightbox-loading {
	from {
		opacity: .5;
		-o-transform: scale(.75);
	}
	50% {
		opacity: 1;
		-o-transform: scale(1);
	}
	to {
		opacity: .5;
		-o-transform: scale(.75);
	}
}

@keyframes imagelightbox-loading {
	from {
		opacity: .5;
		transform: scale(.75);
	}
	50% {
		opacity: 1;
		transform: scale(1);
	}
	to {
		opacity: .5;
		transform: scale(.75);
	}
}

/* lightbox overlay */
#imagelightbox-overlay {
	background-color: #383838;
	background-color: rgba(0, 0, 0, .8);
	position: fixed;
	z-index: 994;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

/* close button */
#imagelightbox-close {
	position: fixed;
	z-index: 999;
	top: 2.5em; /* 40 */
	right: 2.5em; /* 40 */
}

#imagelightbox-close i {
	display: block;
	background: #fff;
	padding: 10px;
	border-radius: 100%;

	-webkit-box-shadow: 0 0 2.5em rgba(0, 0, 0, .5); /* 40 */
	-moz-box-shadow: 0 0 2.5em rgba(0, 0, 0, .5); /* 40 */
	box-shadow: 0 0 2.5em rgba(0, 0, 0, .5); /* 40 */
}

a#imagelightbox-close {
	color: #333;
}

a#imagelightbox-close:hover, a#imagelightbox-close:focus {
	color: #11ABB0;
}

/* lightbox caption */
#imagelightbox-caption {
	text-align: center;
	color: #fff;
	background-color: #000;
	position: fixed;
	z-index: 999;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0.625em; /* 10 */
}

#imagelightbox-loading,
#imagelightbox-overlay,
#imagelightbox-close,
#imagelightbox-caption {
	-webkit-animation: fade-in .25s linear;
	-moz-animation: fade-in .25s linear;
	-o-animation: fade-in .25s linear;
	animation: fade-in .25s linear;
}
