---
title: stagemonitor
---

<!-- Homepage Hero
================================================== -->
<section id="hero">

	<div class="row">

		<div class="twelve columns">

			<div class="hero-text">
				<img src="images/stagemonitor-logo-light-big.png"/>

				<p>an open source solution to application performance monitoring for java server applications</p>
			</div>
			<div class="buttons">
				<a class="button trial" href="#">View on GitHub <i class="fa fa-github-alt"></i></a>
				<a class="button learn-more smoothscroll" href="https://github.com/stagemonitor/stagemonitor/wiki/Installation">Get started</a>
			</div>

			<!--<div class="hero-image">-->
				<!--<img src="images/hero-image.png" alt=""/>-->
			<!--</div>-->

		</div>

	</div>

</section> <!-- Homepage Hero end -->


<!-- Features Section
================================================== -->
<section id='features'>

	<div class="row feature">

		<div class="six columns right">
			<h3>Analyze Requests and Call Stacks</h3>

			<p>
				Filter requests by queries or by selecting charts. Get details about the request including the call
				stack (aka call tree) rendered with state-of-the-art ascii-art
			</p>
		</div>

		<div class="six columns left">
			<div class="columns item">
				<div class="item-wrap">
					<a href="https://cloud.githubusercontent.com/assets/2163464/3207952/c2e08e16-ee11-11e3-87fe-4eb2f761931c.png" data-imagelightbox="a">
						<img src="https://cloud.githubusercontent.com/assets/2163464/3207952/c2e08e16-ee11-11e3-87fe-4eb2f761931c.png" alt="Analyze Requests and Call Stacks">
						<div class="overlay"></div>
						<div class="link-icon"><i class="icon-plus"></i></div>
					</a>
				</div>
			</div>
		</div>

	</div>

	<div class="row feature">

		<div class="six columns left">
			<h3>Request Dashboard</h3>

			<ul>
				<li>Statistical distribution of response times</li>
				<li>Throughput</li>
				<li>Requests are grouped by use cases. Usecases are automatically detected if you use Spring MVC. For other technologies, you can group URLs by regular expressions</li>
				<li>Errors</li>
			</ul>

		</div>

		<div class="six columns right">
			<div class="six columns feature-media left">
				<div class="columns item">
					<div class="item-wrap">
						<a href="https://cloud.githubusercontent.com/assets/2163464/3200110/1cf14602-ed77-11e3-8f6b-67251b8b53a2.PNG" data-imagelightbox="a">
							<img src="https://cloud.githubusercontent.com/assets/2163464/3200110/1cf14602-ed77-11e3-8f6b-67251b8b53a2.PNG" alt="Request Dashboard">
							<div class="overlay"></div>
							<div class="link-icon"><i class="icon-plus"></i></div>
						</a>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="row feature">

		<div class="six columns right">
			<h3>JVM Dashboards</h3>
			<ul>
				<li>Utilisation of all memory pools</li>
				<li>CPU utilisation of the JVM process</li>
			</ul>
		</div>

		<div class="six columns feature-media left">
			<img src="images/feature-image-3.png" alt=""/>
		</div>

	</div>

</section> <!-- Homepage Hero end -->


<!-- Call-To-Action Section
================================================== -->
<section id="call-to-action">

	<div class="row">

		<div class="two columns header-col">

			<h1><span>Get Hosting.</span></h1>

		</div>

		<div class="seven columns">

			<h2><a href="http://www.dreamhost.com/r.cgi?287326|STYLESHOUT">Host This Template on Dreamhost.</a></h2>

			<p>Looking for an awesome and reliable webhosting? Try
				<a href="http://www.dreamhost.com/r.cgi?287326|STYLESHOUT"><span>DreamHost</span></a>.
				Get <span>$50 off</span> when you sign up with the promocode <span>STYLESHOUT</span>.
				<!-- Simply type	the promocode in the box labeled “Promo Code” when placing your order. --></p>

		</div>

		<div class="three columns action">

			<a href="http://www.dreamhost.com/r.cgi?287326|STYLESHOUT" class="button">Sign Up Now</a>

		</div>

	</div>

</section> <!-- Call-To-Action Section End-->


<!-- Screenshots
================================================== -->
<section id="screenshots">

	<div class="row section-head">

		<h1>Product Screenshots.</h1>

		<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
			aperiam,
			eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
			ipsam
			voluptatem quia voluptas sit aspernatur aut odit aut fugit.
		</p>

	</div>

	<div class="row">

		<div class="twelve columns">

			<!-- screenshots-wrapper -->
			<div id="screenshots-wrapper" class="bgrid-quarters s-bgrid-thirds cf">

				<div class="columns item">
					<div class="item-wrap">

						<a href="images/screenshots/big/b-line-icons.jpg" data-imagelightbox="a">
							<img src="images/screenshots/line-icons.jpg" alt="Line Icons">

							<div class="overlay"></div>
							<div class="link-icon"><i class="icon-plus"></i></div>
						</a>

					</div>
				</div>
				<!-- item end -->

				<div class="columns item">
					<div class="item-wrap">

						<a href="images/screenshots/big/b-hipster.jpg" data-imagelightbox="a">
							<img src="images/screenshots/hipster.jpg" alt="Hipster">

							<div class="overlay"></div>
							<div class="link-icon"><i class="icon-plus"></i></div>
						</a>

					</div>
				</div>
				<!-- item end -->

				<div class="columns item">
					<div class="item-wrap">

						<a href="images/screenshots/big/b-authentic-vintage.jpg" data-imagelightbox="a">
							<img src="images/screenshots/authentic-vintage.jpg" alt="Authentic Vintage">

							<div class="overlay"></div>
							<div class="link-icon"><i class="icon-plus"></i></div>
						</a>

					</div>
				</div>
				<!-- item end -->

				<div class="columns item">
					<div class="item-wrap">

						<a href="images/screenshots/big/b-spot-uv-logo.jpg" data-imagelightbox="a">
							<img src="images/screenshots/spot-uv-logo.jpg" alt="Spot UV Logo">

							<div class="overlay"></div>
							<div class="link-icon"><i class="icon-plus"></i></div>
						</a>

					</div>
				</div>
				<!-- item end -->

				<div class="columns item">
					<div class="item-wrap">

						<a href="images/screenshots/big/b-tshirt-mockup.jpg" data-imagelightbox="a">
							<img src="images/screenshots/tshirt-mockup.jpg" alt="TShirt Mockup">

							<div class="overlay"></div>
							<div class="link-icon"><i class="icon-plus"></i></div>
						</a>

					</div>
				</div>
				<!-- item end -->

				<div class="columns item">
					<div class="item-wrap">

						<a href="images/screenshots/big/b-abstract-vector.jpg" data-imagelightbox="a">
							<img src="images/screenshots/abstract-vector.jpg" alt="Abstract Vector">

							<div class="overlay"></div>
							<div class="link-icon"><i class="icon-plus"></i></div>
						</a>

					</div>
				</div>
				<!-- item end -->

				<div class="columns item">
					<div class="item-wrap">

						<a href="images/screenshots/big/b-embossed-paper.jpg" data-imagelightbox="a">
							<img src="images/screenshots/embossed-paper.jpg" alt="Embossed Paper">

							<div class="overlay"></div>
							<div class="link-icon"><i class="icon-plus"></i></div>
						</a>

					</div>
				</div>
				<!-- item end -->

				<div class="columns item">
					<div class="item-wrap">

						<a href="images/screenshots/big/b-judah.jpg" data-imagelightbox="a">
							<img src="images/screenshots/judah.jpg" alt="Judah">

							<div class="overlay"></div>
							<div class="link-icon"><i class="icon-plus"></i></div>
						</a>

					</div>
				</div>
				<!-- item end -->

			</div>
			<!-- portfolio-wrapper end -->

		</div>
		<!-- twelve columns end -->

	</div>
	<!-- end row -->

</section> <!-- Screenshots End -->


<!-- Testimonials Section
================================================== -->
<section id="testimonials">

	<div class="row content">

		<span><i class="quote-left fa fa-quote-left"></i></span>

		<div class="text-container">

			<div class="twelve columns">

				<h1>What People Are Saying.</h1>

			</div>

		</div>
		<!-- text-container ends -->

		<span><i class="quote-right fa fa-quote-right"></i></span>

	</div>
	<!-- row ends -->

</section> <!-- Testimonials Section End-->
